apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
data:
  {{- range $key, $value := .Values.env.backend }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- if .Values.env.frontend }}
  {{- range $key, $value := .Values.env.frontend }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  {{- end }}
